absl-py==0.9.0
astor==0.8.1
beautifulsoup4==4.8.2
boto==2.49.0
boto3==1.10.45
botocore==1.13.45
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
docutils==0.15.2
gast==0.2.2
gensim==3.8.1
google-pasta==0.1.8
grpcio==1.26.0
h5py==2.8.0
idna==2.8
jmespath==0.9.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
numpy==1.16.4
opt-einsum==3.1.0
Pillow==9.0.1
prompt-toolkit==1.0.14
protobuf==3.11.2
Pygments==2.5.2
PyInquirer==1.0.3
python-dateutil==2.8.1
regex==2019.12.20
requests==2.22.0
s3transfer==0.2.1
scipy==1.4.1
six==1.11.0
smart-open==1.9.0
soupsieve==1.9.5
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-hub==0.5.0
tensorflowjs==1.4.0
termcolor==1.1.0
torch==1.3.1
torchvision==0.4.2
tqdm==4.41.0
urllib3==1.25.7
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
